%button-green{
	background-color: $main-button-hex;
	line-height: 50px;
	display: inline-block;
	font:{
		size: 18px;
		weight: 300; 
		family: roboto;
	}
	text-align: center;
	width: 195px;
	color: #fff;
	border: 0;
	@include border-radius(3px);

	&:hover{
		background-color: $button-border-hex;
		color: $first-color;
	}
}