header{
	padding: 28px 0 20px;
	background-color: $header-bg-color; 
	position: relative;
 	z-index: 3;
 	.wrapper{
		@extend %wrapper; 
		@extend %clearfix;
		width: $wrapper-medium;
		padding: 0 26px;
		z-index: 2;
	}
}