// Color scheme
$first-color: #17264f; //dark blue
$second-color: #1c2e61; //blue
$third-color: #f1f1f1;  //gray
$fourth-color: #fafafa; //light gray
$fifth-color: #4b4d51; //dark gray

$main-button-hex: #0f9d58; //green
$button-border-hex: #dadada; //dark gray

$header-bg-color: #0C1B44;

// wrappers
$wrapper-big: 1364px;
$wrapper-medium: 1170px;
