body{
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
a{
	text-decoration: none;
}

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

%wrapper{
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

%clearfix{
	overflow: hidden;
	clear: both;
}


