.subscribe-area{
	$form-padding-left: 425px;
	$wrapper: 970px;

	text-align: right;
	
		@extend %wrapper;
		width: 1364px;
	.wrapper{
		@extend %wrapper;
		@extend %clearfix;
		padding: 25px 0;
		width: $wrapper;
		@media only screen and (max-width: 1050px) {
			padding: {
				left: 50px;
				right: 50px;
			}
		}
	}
	background-color: #777;

	h2{
		font:{
			weight: bold;
			size: 24px;
		}
		text-align: center;
		@media only screen and (min-width: 901px) {
			position: absolute;
			top: 50%;
			@include translateY(-50%);
		}
		@media only screen and (max-width: 900px) {
			margin-bottom: 25px;
		}
	}

	form{
		@media only screen and (min-width: 901px) {
			padding-left: $form-padding-left;
		}
		@media only screen and (min-width: 901px) {
			font-size: 0;
		}
		text-align: center;
	}

	input{
		vertical-align: middle;
		width: 100%;
		@media only screen and (max-width: 900px) {
			display: inline-block;
			vertical-align: middle;
		}
		@media only screen and (max-width: 900px) {
			width: 100%!important;
			padding: 0 !important;
			text-align: center;
			margin-bottom: 5px;
		}
	}

	.input{
		font:{
			size: 16px;
			weight: normal;
			family: inherit;
		}
		border: 1px solid #e6e6e6;
		padding-left: 20px;
		height: 50px;
		@media only screen and (min-width: 901px) {
			width: percentage(325px/($wrapper - $form-padding-left));
		}
		@media only screen and (max-width: 900px) {
			width: 65%;
		}
		@include border-radius(3px);
	}

	.submit{
		@extend %button-green;
		font-weight: 300;
		@media only screen and (min-width: 901px) {
			margin-left: 15px;
			width: percentage(195px/($wrapper - $form-padding-left));
		}
		@media only screen and (max-width: 900px) {
			width: 34%;
		}
	}
}